form:
    - samplesheet
    - run_name
    - af_method
    - prot_mode
    - full_dbs
    - citation_request

cluster: "katana"

attributes:
    samplesheet:
        widget: "text_field"
        pattern: "*.csv^"
        placeholder: "path/to/file(s) or sequence 'NLYIQWLKDGGPSSGRPPPS'"
        required: true
        help: |
            <h4>Acceptable inputs</h4>
            <ul>
                <li>
                    <b>Directory containing Fasta file(s):</b>
                    <code>/srv/scratch/z3141592/my_experiment</code>
                </li>
                <li>
                    <b>Amino acid sequence:</b>
                    <code>NLYIQWLKDGGPSSGRPPPS</code>
                </li>
            </ul>
    run_name:
        widget: "text_field"
        label: "Run Name"
        placeholder: "Enter your run name"
        pattern: '^[A-Za-z0-9_\- ]+$'
        help: |
            <a>Alphanumeric and "_" or "-" only</a>

    af_method:
        widget: "select"
        label: "Method"
        help: |
            <ul>
                <li><b>AlphaFold2.3</b> High Accuracy, Slower - <a href="https://doi.org/10.1038/s41586-021-03819-2">Paper</a></li>
                <li><b>ESMFold</b> Medium/Low Accuracy, Fastest (No Evolutionary Sequence Calculations) - <a href="https://doi.org/10.1126/science.ade2574">Paper</a></li>
                <li><b>RoseTTAFold-All-Atom</b> High Accuracy, Slower; optimised for atomic-level modeling - <a href="https://doi.org/10.1126/science.adl2528">Paper</a></li>
            </ul>
        options:
            - ["Alphafold2", "af2"]
            - ["ESMFold", "esmf", data-hide-prot_mode: true]
            - ["RoseTTAFold-All-Atom", "rfaa", data-hide-prot_mode: true]
        display: true

    prot_mode:
        widget: "select"
        label: "Mode for AF2 or ESMFold"
        help: "Monomer_ptm for AF2 only"
        options:
            - ["Monomer", "monomer"]
            - ["Monomer_ptm", "monomer_ptm"]
            - ["Multimer", "multimer"]
        display: true

    full_dbs:
        widget: "select"
        label: "Full or Reduced DBs"
        options:
            - ["Full DBs", "true"]
            - ["Reduced: Optimised for speed", "false"]
        display: true

    citation_request:
        widget: "radio"
        label: "Citation Request"
        help: |
            <div class="form-group">
            <!-- DOI field -->
            <label for="doiField"><strong>DOI</strong></label>
            <div class="input-group mb-3">
                <input id="doiField"
                       type="text"
                       class="form-control"
                       value="https://doi.org/10.26190/4KQF-M552"
                       readonly>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary"
                            type="button"
                            onclick="navigator.clipboard.writeText(document.getElementById('doiField').value)">
                        Copy DOI
                    </button>
                </div>
            </div>
            <!-- Acknowledgement text -->
            <label for="ackField"><strong>Acknowledgement</strong></label>
            <textarea id="ackField"
                      class="form-control mb-1"
                      rows="3"
                      readonly>
            The authors acknowledge use of facilities in the Structural Biology Facility within the Mark Wainwright Analytical Centre – UNSW, funded in part by the Australian Research Council Linkage Infrastructure, Equipment and Facilities Grant: ARC LIEF 190100165.</textarea>
            <button class="btn btn-outline-secondary"
                    type="button"
                    onclick="navigator.clipboard.writeText(document.getElementById('ackField').value.trim())">
                Copy Acknowledgement
            </button>
            </div>
